<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2TUzF64YbvWnVMSTOckUkQda69EUJa68</string>
	<key>GCM_SENDER_ID</key>
	<string>426757992339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>perveaux.Minutine</string>
	<key>PROJECT_ID</key>
	<string>projetminutine</string>
	<key>STORAGE_BUCKET</key>
	<string>projetminutine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426757992339:ios:a8cde6e7019192a67b4266</string>
</dict>
</plist>